<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= product.productName %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Edit Product</h1>

    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
      <label for="name">Product Name:</label>
      <input type="text" name="name" id="name" value="<%= product.name %>" required />

        <label for="description">Product Description:</label>
        <textarea name="description" id="description" cols="30" rows="10"><%= product.description %></textarea>

        <label for="price">Price (BHD):</label>
      <input type="number" name="price" id="price" value="<%= product.price %>" required />

    <label for="img">Product Image:</label>
      <input type="text" name="img" id="img" value="<%= product.img %>">

      <label for="category">Category:</label>
      <select name="category" id="category" required>
        <option value="makeup" <%= product.category === 'makeup' ? 'selected' : '' %>>Makeup</option>
        <option value="perfume" <%= product.category === 'perfume' ? 'selected' : '' %>>Perfume</option>
        <option value="giftWrapping" <%= product.category === 'giftWrapping' ? 'selected' : '' %>>Gift Wrapping</option>
      </select>

      <button type="submit">Edit Product</button>
    </form>
  </body>
</html>
