 <%- include('../partials/_navbar.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.productName %> | Product Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= product.name %></h1>
    <img src="<%= product.img %>" alt="<%= product.description %>">

    <h2>Details</h2>
    <p>Category: <%= product.category %></p>
    <p>Price: <%= product.price %> BHD</p>
    <% if (product.description) { %>
      <p>Description: <%= product.description %></p>
    <% } %>


    <% if (product.owner._id.equals(user._id)) { %>
    <a href="/products/<%= product._id %>/edit">Edit this product</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this product</button>
    </form>
    <% } %>

  </body>
</html>
